nbproject/private/
build/
dist/
nbbuild/
nbdist/

*.class
*.log
hs_err_pid*
replay_pid*

.idea/
.vscode/
*.iml
.classpath
.project
.settings/
.nb-gradle/

target/
.gradle/
!.mvn/wrapper/maven-wrapper.jar

.DS_Store
Thumbs.db
*~
